### Loading data into Pandas

In [58]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon_data.csv')
print(df.head(5)) # 위에서부터 5개 출력

df_xlsx = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/pokemon_data.xlsx')
print(df_xlsx.head(3))

df_txt=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon_data.txt')
print(df_txt.head(5))

#df['HP']

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False
  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

### Reading Data in Pandas

In [59]:
# Read Headers
df.columns

# Read each Column
#print(df[['Name','Type 1','HP']])

# Read each Row
#print(df.iloc[0:4]) #iloc; 행이나 열 번호로 데이터 선택

#df.loc[df['Type 1']=='Grass'] # Label이나 조건 표현으로 데이터 선택

# Read specific location (R, C)
#print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Sorting/Describing Data

In [60]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

### Making changes to the data

In [61]:
df['Total']=df.iloc[:,4:10].sum(axis=1)

cols=list(df.columns)
df=df[cols[0:4]+[cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Saving out Data (Exporting into Desired Format)

In [62]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/modified.csv', index=False)

# df.to_excel('modified.xlsx', index=False)

#df.to_csv('/content/drive/MyDrive/Colab Notebooks/modified.txt', index=False, sep='\t')

### Filtering Data

In [63]:
new_df=df.loc[(df['Type 1'] == 'Grass')&(df['Type 2'] == 'Poision')&(df['HP']>70)]

new_df.reset_index(drop=True, inplace=True) 
# drop: index setting에 사용한 열을 dataframe 내에서 삭제할 것인지 결정
# inplace: 원본 객체를 변경할지

new_df

#new_df.to_csv('filtered.csv')

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

### Conditional Changes

In [64]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/modified.txt')

df

    #\tName\tType 1\tType 2\tTotal\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0    1\tBulbasaur\tGrass\tPoison\t318\t45\t49\t49\t...
1    2\tIvysaur\tGrass\tPoison\t405\t60\t62\t63\t80...
2    3\tVenusaur\tGrass\tPoison\t525\t80\t82\t83\t1...
3    3\tVenusaurMega Venusaur\tGrass\tPoison\t625\t...
4    4\tCharmander\tFire\t\t309\t39\t52\t43\t60\t50...
..                                                 ...
795  719\tDiancie\tRock\tFairy\t600\t50\t100\t150\t...
796  719\tDiancieMega Diancie\tRock\tFairy\t700\t50...
797  720\tHoopaHoopa Confined\tPsychic\tGhost\t600\...
798  720\tHoopaHoopa Unbound\tPsychic\tDark\t680\t8...
799  721\tVolcanion\tFire\tWater\t600\t80\t110\t120...

[800 rows x 1 columns]

### Aggregate Statistics (Groupby)

In [70]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon_data.csv')

df

df['count']=1

df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

### Working with large amounts of data

In [77]:
new_df=pd.DataFrame(columns=df.columns)

for df in pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pokemon_data.csv', chunksize=5): # chunksize: 몇개씩 묶을건지
  results=df.groupby(['Type 1']).count()

  new_df=pd.concat([new_df, results])